[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pandas = "*"
nltk = "*"
sklearn = "*"
djangorestframework = "*"
django-filter = "*"
django-grappelli = "*"
selenium = "*"
requests = "*"
beautifulsoup4 = "*"
django-sendfile = "*"
django-private-storage = "*"
django-background-tasks = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.6"
